body {
    background-color: lavender;
}

.header {
    display: flex;
    padding: 30px;
    border: 3px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: gray;
    color: plum;
    padding: 30px 50px 30px 50px;
    margin: 5px 0;
    box-sizing: border-box;

}

.header h1 {
    font-size: 48px;
    text-shadow: 0 0 10px rgba (0, 0, 0, 0.5);
}

.header div {
    padding-top: 15px;
    margin-left: 300px;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
header nav {
    margin: 7px 0;
  }

.header div ul {
    list-style-type: none;
}
header nav ul {
    height: -250px;
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
.header nav ul li a {
    text-shadow: 0 0 10px rgba (0, 0, 0, 0.5);
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;

}
a {
    display: absolute;
    color: #ffffff;
    text-decoration: none;
    padding-top: 60px;
}

p {
    font-size: 16px;
}

.hero {
    display: absolute;
    justify-content: space-evenly;
    height: 175px;
    margin-bottom: 25px;
    background-image: url("../images/dark.jpg");
    background-size: cover;
    background-position: center;
    border: 3px groove grey;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    display: flex;
    margin-top: 180px;
    background-color: plum;
    border: 5px groove plum;

}

.About {
    height: 400px;
    margin-left: -3px;
    top: 0;
} 

.body img {
    width: 20%;
    height: auto;
    padding-left: 50px;
    padding-bottom:50px;
}

.About h2 {
    margin-top: 50px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: white;
    color: rgb(51, 3, 51);
    font-size: 40px
}

.About p {
    color: white;
    font-size:20px;
    padding-right: 50px;
}

.Work {
    height: 400px;
    border: 5px groove plum;
    background-color: rgb(51, 3, 51);
    
}
.Work h2 { 
    margin-top: 50px;
    margin-left: 50px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: white;
    color: plum;
    font-size: 40px
}
.Work p {
    font-size: 20px;
    color: white;
    margin-left: 50px;
}

.Contact {
    background-color: plum;
    height: 150px;
    border: 5px groove plum;
    color: white;
    font-size: 20px;
}
.Contact h2{
    margin-left: 50px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: white;
    color: rgb(51, 3, 51);
    font-size: 40px
}

.Contact address {
    margin-left: 1000px;
    position: relative;
    bottom: 70px;
}

